<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429081378529-dl7dbin66gf740c4njflln7p1va6unng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429081378529-dl7dbin66gf740c4njflln7p1va6unng</string>
	<key>API_KEY</key>
	<string>AIzaSyDdvGgEmlsHnRukwprn9BfuccN6t4TVwrk</string>
	<key>GCM_SENDER_ID</key>
	<string>429081378529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS-programming.class0530</string>
	<key>PROJECT_ID</key>
	<string>ios0530</string>
	<key>STORAGE_BUCKET</key>
	<string>ios0530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429081378529:ios:47236de060bee4db14c1a0</string>
</dict>
</plist>